.spacer {
	clear:both;
}

#container {
	width:100%;
	height:55px;
    background:#9EBAD6 url("../gfx/menu/bg.gif") repeat-x bottom;
}

#cadre_nom {
	float:left;
	width:15%;
	min-width:190px;
	height:55px;
	/*background:#DAE0D2 url("../gfx/menu/bg.gif") repeat-x bottom;*/
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

#cadre_nom .text {
	padding: 5px 0 0 5px;
	line-height:normal;
	font-size:14px;
}

#cadre_nom .logout {
	width:100%;
	text-align:right;
	font-size:11px;
}

#cadre_nom a, #cadre_nom a:visited, #cadre_nom a:link {
	color:black;
}

#cadre_nom a:hover {
	color:red;
}

#cadre_menu {
  float:left;
	height:40px;
    /*background:#DAE0D2 url("../gfx/menu/bg.gif") repeat-x bottom;*/
    font-size:93%;
    line-height:normal;
	font-family:Verdana, Arial, Helvetica, sans-serif;
}

#cadre_menu ul {
    margin:0;
    padding:7px 5px 0;
    list-style:none;
}
	
#cadre_menu li {
    float:left;
    background:url("../gfx/menu/norm_left.gif") no-repeat left top;
    margin:0;
    padding:0 0 0 9px;
	outline:none;
}

#cadre_menu a, #cadre_menu a:visited, #cadre_menu a:link {
    float:left;
	display:block;
	color:black;
	background:url("../gfx/menu/norm_right.gif") no-repeat right top;
	padding:5px 15px 4px 6px;
	text-decoration:none;
	font-weight:bold;
	outline:none;
}

#cadre_menu a:hover {
	color:red;
}

#cadre_menu a.disabled, #cadre_menu a.disabled:visited, #cadre_menu a.disabled:link, #cadre_menu a.disabled:hover {
	color:grey
}
	
#cadre_menu .actif {
    background-image:url("../gfx/menu/norm_left_on.gif");
}

#cadre_menu .actif a, #cadre_menu .actif a:visited, #cadre_menu .actif a:link , #cadre_menu .actif a:hover {
    background-image:url("../gfx/menu/norm_right_on.gif");
	color:black;
	padding-bottom:5px;
}

.on {
	display:block;
}

.off {
	display:none;
}