/* 
    Document   : logo.css
    Created on : 14 août 2010, 02:13:39
    Author     : david
    Description:
        Purpose of the stylesheet follows.
*/

.alogo {
    display:table-cell;
    position:relative;
    vertical-align:middle;
}

.alogo_big {
    width: 876px;
    height: 203px;
/*    background-image: url(/media/images/big_logo.png);*/
}

.alogo_small {
    width: 346px;
    height: 80px;
/*    background-image: url(/media/images/small_logo.png);*/

}