nbproject
includes
code_phink.js
app_controllers_abcalbums_abcalbums.class.php
app_controllers_abcyears_abcyears.class.php
app_controllers_collection_collection.class.php
app_controllers_dummy_dummy.class.php
app_controllers_home_home.class.php
app_controllers_main_main.class.php
app_controllers_master_master.class.php
app_controllers_player_player.class.php
app_controllers_playlist_playlist.class.php
app_controllers_token_token.class.php
abcAlbums_data.js
abcAlbums_elements.json
abcAlbums_template.json
abcArtists_data.js
abcArtists_elements.json
abcArtists_template.json
abcYears_data.js
abcYears_elements.json
abcYears_template.json
app_controllers_abcalbums_abcalbums.js
app_controllers_abcartists_abcartists.js
app_controllers_abcyears_abcyears.js
app_controllers_dummy_dummy.js
collection_data.js
collection_elements.json
collection_template.json
phink_web_ui_widget_plugin_tplugin.json
playlist_data.js
playlist_elements.json
playlist_template.json
cache
vendor
tests/_output/*
/runtime
/tests
/obj/Debug/SoL.njsprojResolveAssemblyReference.cache
/obj/Debug/SoL.njsproj.FileListAbsolute.txt
/obj/Debug/CoreCompileInputs.cache
/obj/Debug
/bin/Microsoft.NodejsTools.WebRole.dll
/bin
/.vs/SoL/v15/.suo
