vendor/
.vscode/
nbproject/
logs/*
*error_log
phink.js
*builder.lock
src/cache/*
src/runtime/*
src/web/css/runtime/*
src/web/js/runtime/*
master
api/node_modules
api/bower_components
src/web/bower_components
src/data/crypto.db
src/web/assets/admin
src/logs/*
src/web/puzzle.js
