/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 20 août 2016, 21: 31: 34
    Author     : David
*/
html {
    color: white;
    background-image: linear-gradient(300deg, #444444, black);
}

body {
    color: white;
    background-image: linear-gradient(300deg, #444444, black);
}


#core {
    margin: 0;
}
/*.sidebar-nav {
  padding: 9px 0;
}
.onLoad{
    width:      100%;
    height:     100%;
    position:   absolute;
    top:        0px;
    left:       0px;
    z-index:    100000000000000000000000001;
    background-color:Gray;
    filter:     alpha(opacity=70);
    opacity:    0.7;
  
}*/
.blockLeft {
    display: block; 
    float: left;    
}
.clearBlock {
    clear: both;
}

/*.onLoad {
    display:    none;
    position:   absolute;
    z-index:    100000001;
    top:        0px;
    left:       0px;
    height:     100%;
    width:      100%;
    filter:     alpha(opacity=70);
    opacity:    0.7;
    background-image: url(/images/ajax-loader.gif);
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
*/

/*body.loading {
    overflow: hidden;   
}

body.loading .modal {
    display: block;
}*/



.tile li {
  float: left;
  position: relative;
  list-style-type: none;
}

.tile ul {
  padding: 0;
  text-align: center;
  overflow: auto;
}
.tile ul > li {
  margin-bottom: 15px;
}
.tile li div {
  display: block;
  background-image: linear-gradient(300deg, #444444, black);
  padding: 15px 0;
}
.tile ul li {
  float: left;
  position: relative;
  width: 90px;
  margin: 15px 15px 0 0;
}
.tile a {
  color: white;
  text-align: center;
  display: block;
  width: 150px;
  padding: 15px 0;
}

.tileClear li {
    clear: both;
}

.playerspace {
    height: 100%;
}

.playerheader {
    width: 100%;
    height: 20%;
    padding: 10px 10px 10px 10px;
}

.playermain {
    width: 100%;
    height: 75%;
    padding: 10px 10px 10px 10px;
}

.playerfooter {
    width: 100%;
    padding: 10px 10px 10px 10px;
}

#playlist ul {
    margin-left: -15px;
}

#playlist ul > li {
    list-style-type: none;
}

.scroll_container {
    overflow: hidden;
    height: 100%;
}

.scroll_content {
    overflow-y: scroll;
    height:100%;
}

#logo {
    float: left;
    position: relative;
    width: 75%;
} 

#audio {
    float: left;
    position: relative;
    width: 75%;
}

.player {
    float: left;
    position: relative;
    width: 100%;
    height: 100%;
    border-style: none;
    border-radius: 12px;
    border-color: #006688;
    padding: 0px;
    margin: 0px;
    background-image: linear-gradient(300deg, #444444, black);
    clear: both;
    
}

.collection {
    float: left;
    position: relative;
    height:100%;
    width: 25%;
    border-style: none;
    border-radius: 12px;
    border-color: #006688;
    padding: 0px;
    margin-left: 0px;
    background-image: linear-gradient(300deg, #444444, black);
}

.scroll_collection {
    overflow-y: scroll;
    width: calc(100% + 28px);
    height:100%;
}

.mediaspace {
    float: left;
    position: relative;
    height: 100%;
    width: 50%;
    border-style: none;
    border-radius: 12px;
    border-color: #006688;
    padding: 0px;
    margin-left: Opx;
    background-image: linear-gradient(300deg, #444444, black);
}

.scroll_mediaspace {
    overflow-y: scroll;
    width: calc(100% + 28px);
    height:100%;
}

.playlist {
    float: left;
    position: relative;
    height: 100%;
    width: 25%;
    border-style: none;
    border-radius: 12px;
    border-color: #006688;
    padding: 0px;
    margin-left: 0px;
    background-image: linear-gradient(300deg, #444444, black);
    /*clear: both;*/
}

.scroll_playlist {
    overflow-y: scroll;
    width: calc(100% + 28px);
    height:660px;
}

