
.ui-accordion .ui-accordion-header .ui-accordion-header-icon {
  left: initial;
  right: .5em
}

.ui-accordion-header {
  border: 0;
  background: transparent;
  color: #fff!important
}

.blue .ui-accordion-header,
.blue.ui-accordion-header { background: transparent }

.blue .ui-accordion-header.ui-state-hover,
.blue.ui-accordion-header.ui-state-hover { background: transparent }

.green .ui-accordion-header,
.green.ui-accordion-header { background: transparent }

.green .ui-accordion-header.ui-state-hover,
.green.ui-accordion-header.ui-state-hover { background: transparent }

.violet .ui-accordion-header,
.violet.ui-accordion-header { background: transparent }

.violet .ui-accordion-header.ui-state-hover,
.violet.ui-accordion-header.ui-state-hover { background: transparent }

.ui-accordion-header.ui-state-hover { background: transparent }

.ui-widget-content {
  background: transparent;
  border: 0;
  margin: 0;
  padding: 0px
}

.odd .ui-accordion-header {
  border: 0;
  background: transparent;
  color: white!important;
  text-align: left
}

.odd .ui-accordion-header.ui-state-hover { background: #dfdfdf }

.odd .ui-widget-content {
  background: transparent;
  color:white;
  border: 0;
  margin: 0;
  padding: 5px
}
