#core {
    margin: 0;
}
.sidebar-nav {
  padding: 9px 0;
}
.onLoad{
    width:      100%;
    height:     100%;
    position:   absolute;
    top:        0px;
    left:       0px;
    z-index:    100000000000000000000000001;
    background-color:Gray;
    filter:     alpha(opacity=70);
    opacity:    0.7;
  
}
.blockLeft {
    display: block; 
    float: left;    
}
.clearBlock {
    clear: both;
}

/*.onLoad {
    display:    none;
    position:   absolute;
    z-index:    100000001;
    top:        0px;
    left:       0px;
    height:     100%;
    width:      100%;
    filter:     alpha(opacity=70);
    opacity:    0.7;
    background-image: url(/images/ajax-loader.gif);
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
*/

/*body.loading {
    overflow: hidden;   
}

body.loading .modal {
    display: block;
}*/

